@model IEnumerable<BenThanhMetro.Models.Ticket>

@{
    ViewBag.Title = "Welcome";
}

<div class="container text-center" style="margin-top: 100px;">
    <h1 style="font-size: 50px; color: #003366; font-weight: bold;">
        <i class="fa fa-train"></i> CHÀO MỪNG ĐẾN VỚI METRO BẾN THÀNH
    </h1>
    <p class="lead mt-3" style="font-size: 24px; color: gray;">
        Hệ thống máy bán vé tự động
    </p>

    <div style="margin-top: 80px;">
        <a href="/Tickets/Destinations" class="btn btn-success" style="padding: 20px 100px; font-size: 36px; border-radius: 50px; font-weight: bold; box-shadow: 0px 5px 15px rgba(0,0,0,0.2);">
            BẮT ĐẦU MUA VÉ
        </a>
    </div>

    <p style="margin-top: 30px; font-size: 18px; color: #888;">
        Chạm vào màn hình để bắt đầu
    </p>
</div>